.bg-primary {
    background-color: #a0aec0;
}

.large-font {
    font-size: 24px;
}

.container {
    margin-top: 120px;
}

.listing {
    border-bottom: 1px solid black;
}

/*.filters-container {*/
/*    border-radius: 16px;*/
/*    background-color: #a0aec0;*/
/*}*/

/*.products-list {*/
/*    border-radius: 16px;*/
/*    background-color: aliceblue;*/
/*}*/

.filters-container {
    border-bottom: double black;
    border-width: 5px;
}

.req {
    color: red;
}
